<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">&nbsp;Student Management System</a>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-item nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
    </div>
  </ul>
</div>
</nav>

<div *ngIf="checkInitialization()==false" id="initialize">
  <button class="btn btn-success" (click)="addAdminTeacher()">Initialize</button>
</div>

<div *ngIf="this.showInformation==true" id="information">
  <h1>Student Management System</h1>
  <h6>The Student Management System is a web system that allows a teacher to completely manage his students with a powerful set of tools.</h6>
</div>

<router-outlet></router-outlet>
