<div *ngIf="yesNoCardEnabled==false" class="position-absolute top-50 start-50 translate-middle">
<div id="deletecard" class="card mx-auto" style="width: 20rem">
  <div class="card-body">
    <div class="text-center">
      <h4 class="card-title">Delete student</h4>
      <div>
        <p class="card-text">To delete a student from the system, type their first name and last name below.</p>
        <label for="firstNameField" class="form-label">First Name</label>
        <input id="firstNameField" type="text" class="form-control" [(ngModel)]="firstNameValue"/>
        <label for="lastNameField" class="form-label">Last Name</label>
        <input id="lastNameField" type="text" class="form-control" [(ngModel)]="lastNameValue"/><br/>
        <div class="text-center">
          <button id="deletebutton" (click)="findStudent()" class="btn btn-danger" width="20px">Delete</button>
          <p class="text-danger">{{ statusMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="yesNoCardEnabled==true" class="position-absolute top-50 start-50 translate-middle">
<div id="confirmcard" class="card mx-auto" style="width: 20rem">
  <div class="card-body">
    <div class="text-center">
      <h4 class="card-title">Confirm the deletion</h4>
      <div>
        <p class="card-text">You are about to delete {{ firstNameValue }} {{ lastNameValue }} from the system. Are you sure you want to proceed?</p>
        <div class="text-center">
          <button id="yesbutton" (click)="deleteStudent(findStudent())" class="btn btn-danger" width="20px">Yes</button>
          <button id="nobutton" (click)="handleCard()" class="btn btn-success" width="20px">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>